@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui";

 @theme {
        --color-heading: #331A15;
        --color-text:#1B1A1A;
        --font-heading: "Rancho", cursive;
        --font-text: "Raleway", sans-serif;

}

